* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #0f1a3a;
  color: white;
  min-width: 360px;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container > div >h4 {
  font-size: 16px;
}

.container > div > h1 {
  font-size: 40px;
}

.container > div> img {
  width: 53px;
  height: 61px;
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 13px;
}

.cards > .problems > h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", serif;
  font-weight: 200;
  width: 100%;
  text-align: center;
}
.card {
  border-radius: 5px;
  padding: 15px;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card div.text {
  width: 80%;
}
.card .triangle {
  width: 15px;
  height: 16px;
  transition: all 0.3s ease-in-out;
}
.card.open .triangle {
  transform: rotate(180deg);
}
.card .triangle > img {
  width: 100%;
  height: 100%;
}


.card h2 {
  text-align: left;
}
.card h2 {
  font-size: 16px;
  color: black;
}

.card.red {
  background-color: #ff4d4d;
}

.card.orange {
  background-color: #ff9933;
}

.card.green {
  background-color: #4caf50;
}

.card.blue {
  background-color: #2196f3;
}

footer {
  margin-top: 20px;
  font-size: 10px;
}

.hidden { 
  display: none; 
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  color: black;
  text-align: left;
}

.card.open .hidden { 
  display: block; 
}

.card { 
  cursor: pointer; 
  transition: max-height 0.3s ease;
}